
{% extends "_layouts/base.html" %}
{% block content %}
<div class="col-lg-12 page-header">
    <div class="progress">
        <div class="progress-bar" style="width: 95%"></div>
    </div>
    <h1>{{icon('briefcase')}} Application summary</h1>
</div>
<div class="col-lg-6 col-lg-offset-3">
    <div class="col-lg-12 text-center">
        <img src="https://image.eveonline.com/Corporation/{{corporation.id}}_128.png" alt="{{corporation.name}}">
        <img src="https://image.eveonline.com/Character/{{character.characterID}}_128.jpg" alt="{{character.name}}">
    </div>
    <br>
    <p>Here is the resume of your application, if all things look good, confirm your application at the bottom.</p>
    <dl class="dl-horizontal">
        <dt>Corporation</dt>
        <dd>{{corporation.name}}</dd>
        <dt>Character</dt>
        <dd>{{character.name}}</dd>
        {% if session['reddit'] %}
            <dt>Reddit account</dt>
            <dd>{{session['reddit']['username']}}</dd>
        {% endif %}
        <dt>Email</dt>
        <dd>{{session['email']}}</dd>
        <dt>Motivation</dt>
        <dd>{{session['motivation']}}</dd>
    </dl>
    <a href="{{url_for('do_apply')}}" class="btn btn-success">{{icon('check')}} Apply now</a>

</div>
{% endblock %}
